body { background:#dfdfdf }
.strava_segments h3 { margin:20px 0 !important }
.strava_segments .search_top input { width:70% !important }
.strava_segments .search_top input,.strava_segments .search_top button  { display:inline-block !important; }
.strava_segments .table-activities { background:#fff;text-align:center !important;font-size:14px !important; }
